In [1]:
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import pandas as pd
import time

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

## NASA Mars News

In [71]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'

In [72]:
browser.visit(url)

In [66]:
# # Retrieve page with the requests module
# response = requests.get(url)

In [67]:
# Create BeautifulSoup object; parse with 'html.parser'
# soup = bs(response.text, 'html.parser')

In [73]:
html = browser.html

In [74]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = bs(html, 'html.parser')

In [75]:
#print(soup.prettify())

In [76]:
news_title = soup.find('div',class_='content_title').text

In [77]:
news_title

"Six Things to Know About NASA's Opportunity Rover"

In [78]:
news_p = soup.find('div', class_='article_teaser_body').text

In [79]:
news_p

"Opportunity's mission is complete. Here are highlights from its time on Mars."

In [ ]:
#can use stacked finds to search within elements
# number_subscribers = soup.find("span", class_='subscribers').\
#     find('span', class_='number').text
# print(f"The number of subscribers: {number_subscribers}")

## 3PL Mars Space Images

In [12]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [13]:
browser.visit(url)

In [ ]:
#html = browser.html

In [ ]:
#soup = bs(html, 'html.parser')

In [14]:
 browser.click_link_by_partial_text('FULL IMAGE')

In [15]:
time.sleep(1)

In [16]:
browser.click_link_by_partial_text('more info')

In [7]:
html = browser.html

In [8]:
soup = bs(html, 'html.parser')

In [9]:
mars_image = soup.find('img',class_='main_image')['src']

In [10]:
feat_image_url = 'https://www.jpl.nasa.gov' + mars_image

In [11]:
feat_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16613_hires.jpg'

## Mars Weather

In [99]:
url = 'https://twitter.com/marswxreport?lang=en'

In [100]:
browser.visit(url)

In [101]:
html = browser.html

In [102]:
soup = bs(html, 'html.parser')

In [103]:
mars_weather = soup.find_all('div',class_='content')

In [113]:
for tweet in mars_weather:
    twit_user = tweet.find('a',class_='account-group')['data-user-id']
    if twit_user == '786939553':
        weather_text = tweet.find('p', class_='tweet-text').text
        if weather_text.split()[0] == 'Sol':
            break
    continue

In [114]:
weather_text

'Sol 2319 (2019-02-13), high -17C/1F, low -72C/-97F, pressure at 8.12 hPa, daylight 06:46-18:52pic.twitter.com/anlHR95BMs'

## Mars Facts

In [18]:
url = 'http://space-facts.com/mars/'

In [51]:
tables = pd.read_html(url)

In [64]:
df = tables[0]

In [65]:
df.columns = ['', '']

In [69]:
df

0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [77]:
web_table = df.to_html(classes='table',index=False)

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

In [36]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

browser.visit(url)

html = browser.html

soup = bs(html, 'html.parser')

In [37]:
hemispheres = soup.find_all('div',class_='item')
hemis_array = []
url_front = 'https://astrogeology.usgs.gov'

In [45]:
#click functions for elements wouldn't work, apparently a chrome driver issue, so I constructed a full link and used browser.visit
for item in hemispheres:
    
    item_dict = {}
    text_header = item.find('h3').text
    item_dict['Title'] = text_header
    
    link = item.find('a',class_='itemLink')['href']
    full_url = url_front + link
    browser.visit(full_url)
    
    html = browser.html
    soup = bs(html, 'html.parser')
    
    big_link = soup.find('img',class_='wide-image')['src']
    item_dict['img_url'] = url_front + big_link
    
    hemis_array.append(item_dict)
    
    browser.back()
    
hemis_array